<% form_options ||= {} %>
<% path_options ||= {} %>
<% submit_btn = true if submit_btn == nil %>
<% path ||= Network.new %>
<% can_add_existing ||= false %>

<%= form_tag path, **form_options do %>
  <!-- TODO: See comment in bots/_form.html.erb -->
  <%= hidden_field_tag 'bot[id]' %>

  <div class="form-group">
    <%= label_tag 'network[name]', "Network Name: ", class: 'col-form-label' %>
    <%= select_tag 'network[name]', options_from_collection_for_select(Network.last(500), :id, :name), include_blank: true,
                   class: 'form-control ta-network', tabindex: 'false' %>
  </div>

  <% if submit_btn %>
    <div class="actions">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-plus"></i> Add
      </button>
      <%= link_to :back, class: 'btn btn-danger' do %>
          <i class="fas fa-times"></i> Cancel
      <% end %>
    </div>
  <% end %>
<% end %>
