<div class="bordered-li">
  <%= link_to edit_bot_path(bot), class: 'js-modal-trigger', data: { toggle: 'modal', target: '#editBotModal', username: bot.username,
                                                                     type_id: bot.type_id, bot_id: bot.id } do %>
      <i class="fas fa-pencil-alt"></i>
  <% end %>
  &nbsp;
  <%= link_to bot.username, bot_path(bot), data: { toggle: 'modal', target: '#botInfoModal', username: bot.username, type_id: bot.type_id,
                                                   type: bot.type.name, bot_id: bot.id, twttr: bot.twitter_username },
              class: "#{bot.status_color} js-modal-trigger" %>

  <% if include_modals %>
    <%= render 'modal', title: 'Edit Bot', id: 'editBotModal' do %>
      <%= render 'form', form_options: { remote: true, authenticity_token: true, id: 'editBotModalForm' },
                 path: update_bot_path(format: :json), submit_btn: false %>
    <% end %>

    <%= render 'modal', title: 'Bot Info', id: 'botInfoModal', submit_btn: false do %>
      <p>Username: <span class="username"></span></p>
      <%# TODO: Fetch this data async %>
      <p>Type: <span class="type"></span></p>
      <p>Hashtags: <span class="hashtags"></span></p>
      <p>Networks: <span class="networks"></span></p>
      <div class="tweet-container">
      </div>
    <% end %>
  <% end %>
</div>