<h1>Bots</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Topics</th>
      <th>Networks</th>
      <th>Timeline</th>
    </tr>
  </thead>

  <tbody>
    <% @bots.each do |bot| %>
      <tr data-bot-id="<%= bot.id %>">
        <td>
          <%= link_to edit_bot_path(bot), class: 'js-modal-trigger', data: { toggle: 'modal', target: '#editBotModal', username: bot.username,
                                                                             type_id: bot.type_id, bot_id: bot.id } do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          &nbsp;
          <%= link_to bot.username, bot_path(bot), data: { toggle: 'modal', target: '#botInfoModal', username: bot.username, type_id: bot.type_id,
                                                           type: bot.type.name, bot_id: bot.id, twttr: bot.twitter_username },
                      class: "#{bot.status_color} js-modal-trigger", id: "bot-name-#{bot.id}" %>
        </td>
        <td>
          <% bot.hashtags.each do |ht| %>
            <%= link_to ht.name, hashtag_path(ht) %>
          <% end %>

          <em>(<%= link_to '+add', new_hashtag_path(bot: bot), data: { toggle: 'modal', target: '#newHashtagModal', bot_id: bot.id },
                           class: 'js-modal-trigger' %>)</em>
        </td>
        <td>
          <% bot.networks.each do |nw| %>
            <%= link_to nw.name, network_path(nw) %>
          <% end %>

          <em>(<%= link_to '+add', new_network_membership_path(bot: bot), data: { toggle: 'modal', target: '#newNetworkMembershipModal', bot_id: bot.id },
                           class: 'js-modal-trigger' %>)</em>
        </td>
        <td>
          <%= link_to "actions", bot_timeline_path(bot), data: { toggle: 'modal', target: '#actionsModal', bot_id: bot.id },
                      class: 'js-modal-trigger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# Really, these modals should `render` from other pages %>

<%= render 'bots/edit_info_modals' %>

<%= render 'modal', title: 'Add Topic', id: "newHashtagModal" do %>
  <%= render 'hashtags/form', form_options: { remote: true, authenticity_token: true, id: 'newHashtagModalForm' },
             path: add_hashtag_to_bot_path(format: :json), submit_btn: false, can_add_existing: true %>
<% end %>

<%= render 'modal', title: 'Add Network Membership', id: "newNetworkMembershipModal" do %>
  <%= render 'networks/form', form_options: { remote: true, authenticity_token: true, id: 'newNetworkMembershipModalForm' },
             path: add_network_to_bot_path(format: :json), submit_btn: false, can_add_existing: true %>
<% end %>

<%= render 'modal', title: 'Bot Timeline', id: "actionsModal", submit_btn: false do %>
  <div class="actions">
  </div>
<% end %>
