<p id="notice"><%= notice %></p>

<h1>Bots</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Hashtags</th>
      <th>Network IDs</th>
      <th>Timeline</th>
    </tr>
  </thead>

  <tbody>
    <!-- Really, all of these should be links that turn into modals if JS is enabled. (Also, see comment near modals) -->
    <% @bots.each do |bot| %>
      <tr>
        <td>
          <!-- <%= link_to edit_bot_path(bot) do %>
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
          <% end %> -->
          <i class="fas fa-pencil-alt" aria-hidden="true" data-toggle="modal" data-target="#editBotModal" data-username="<%= bot.username %>" data-type-id="<%= bot.type.id %>" data-bot-id="<%= bot.id %>"></i>
          &nbsp;
          <!-- <span class="<%= bot.status_color %>">
            <%= link_to bot.username, bot_path(bot), class: bot.status_color %>
          </span> -->
          <span class="<%= bot.status_color %>" data-toggle="modal" data-target="#botInfoModal" data-username="<%= bot.username %>" data-type-id="<%= bot.type.id %>" data-bot-id="<%= bot.id %>" data-twttr="<%= bot.twitter_username %>"><%= bot.username %></span>
          <small><i>(some status emojis)</i></small></td>
        <td>
          <span>
            <!-- <%= true || raw(bot.hashtags.map { |ht| link_to "##{ht.name}", ht }.join(', ')) %> -->
            <%= number_ids_for(bot.hashtags, modal_name: '#hashtagModal') { |ht| {id: ht.id, name: ht.name} } %>
          </span>
          <span data-toggle="modal" data-target="#newHashtagModal" data-bot-id="<%= bot.id %>">+add</span>
          <!-- <%= link_to '+add', new_hashtag_path(bot: bot) %> -->
        </td>
        <td>
          <span>
            <!-- <%= true || raw(bot.networks.map { |nw| link_to "##{nw.id}", nw }.join(', ')) %> -->
            <%= number_ids_for(bot.networks, modal_name: '#networkModal') { |nw| {id: nw.id, name: nw.name} } %>
          </span>
          <span data-toggle="modal" data-target="#newNetworkMembershipModal" data-bot-id="<%= bot.id %>">+add</span>
          <!-- <%= link_to '+add', new_network_membership_path(bot: bot) %> -->
        </td>
        <td><%= link_to "actions", timeline_path(id: 1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Really, these modals should `render` from other pages -->

<div class="modal fade" id="editBotModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Bot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag update_bot_path, remote: true, authenticity_token: true, id: 'editBotModalForm' do %>
        <div class="modal-body">
          <%= hidden_field_tag 'id' %>
          <div class="form-group">
            <%= label_tag 'bot[username]', "Username: ", class: 'col-form-label' %>
            <%= text_field_tag 'bot[username]', nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag 'bot[type_id]', "Bot" %>
            <%= select_tag 'bot[type_id]', options_with_colors(Bot::Type.all, :id, :name){ |bot| bot.status_color(prefix: 'bg') }, class: 'form-control select2' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="botInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bot Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Username: <span class="username"></span></p>
        <!-- TODO: Fetch this data async -->
        <p>Type: <span class="type"></span></p>
        <p>Hashtags: <span class="hashtags"></span></p>
        <p>Networks: <span class="networks"></span></p>
        <div class="tweet-container">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newHashtagModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Hashtag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag add_hashtag_to_bot_path, remote: true, authenticity_token: true, id: 'newHashtagModalForm' do %>
        <div class="modal-body">
          <%= hidden_field_tag 'id' %>
          <h3>Add existing hashtag to bot</h3>
          <div class="form-group">
            <%= label_tag 'hashtag[id]', "Hashtag:" %>
            <%= select_tag 'hashtag[id]', options_from_collection_for_select(Hashtag.all, :id, :name), include_blank: true, class: 'form-control select2' %>
          </div>
          <hr>
          <h3>Create a new hashtag</h3>
          <div class="form-group">
            <%= label_tag 'hashtag[name]', "Hashtag Name: ", class: 'col-form-label' %>
            <%= text_field_tag 'hashtag[name]', nil, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="newNetworkMembershipModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Nework Membership</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag add_network_membership_to_bot_path, remote: true, authenticity_token: true, id: 'newNetworkMembershipModalForm' do %>
        <div class="modal-body">
          <%= hidden_field_tag 'id' %>
          <h3>Add existing nework to bot</h3>
          <div class="form-group">
            <%= label_tag 'network[id]', "Network:" %>
            <%= select_tag 'network[id]', options_from_collection_for_select(Network.all, :id, :name), include_blank: true, class: 'form-control select2' %>
          </div>
          <hr>
          <h3>Create a new network</h3>
          <div class="form-group">
            <%= label_tag 'network[name]', "Network Name: ", class: 'col-form-label' %>
            <%= text_field_tag 'network[name]', nil, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="hashtagModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hashtag!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Name: <span class="name"></span></p>
        <p>Id: <span class="id"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Network!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Name: <span class="name"></span></p>
        <p>Id: <span class="id"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
